
html, body {
	height:100%;margin:0;padding: 0; 
	height:100vh;width:100vw;
}

section {
	margin:0;padding:0;
}
#scriptures {
	width:25vw;height:100%	;
	overflow:scroll;
	z-index:100;
	position: absolute;
    top: 0;
    left: 0;
}
#map {
	height:100%;width:100%;
}

ul.versesblock li {
    position: relative;
    display: block;
    margin-bottom: .3em;	
}