@import "compass/css3";

$scripture-font-height: 2.8vw;
$scripture-column-gap: 2.5*$scripture-font-height;
$scripture-padding:5vw;

html, body {
	height:100%;margin:0;padding: 0; 
	height:100vh;max-width:100%;
}
h1,h2,h3,h4,h5,h6 {
	margin:0;padding:0;
}

section {
	margin:0;padding:0;
	min-height:100%;
	max-width:100%;
}
#scriptures {
	position: absolute;
    top:0;
    left:0;
    height:auto;
    min-height:auto;
    
    background-color:white;
    
    font-size:$scripture-font-height;
    padding:#{$scripture-padding/2} $scripture-padding;
    
    @include column-count(2);
    @include column-gap($scripture-column-gap);
    //@include column-width(30vw);
    @include column-rule(0.125em, solid, black);
    
    .chapterheading {
    	@include column-span(all);
    }
    .big {
    	font-size:1.75em;
    }
    .navheading,.chapterheading {
    	text-align:center;
    	text-transform: uppercase;
    }
    & ul {
    	margin:0;padding:0;
    	
    	& li {
    		text-align:justify;
    		text-indent:0.5em;
    		@include break-inside(avoid);
    	}
    }
    
    /*
    	* Animation section *
    */
    @include transition(all 1s linear);
	z-index:100;
	@include opacity(100);
	&.hidden {
		z-index:-1;
		@include opacity(0);
	}
}

#map {
	height:100%;width:100%;
	
	& .animate-label {
		position:absolute;
		top:50vh;left:50vw;
		display:block;
		font-size:$scripture-font-height;
		
	    @include transition(all 2s ease-out);
		z-index:-1;
		@include opacity(0);
	}
}

ul.versesblock li {
    position: relative;
    display: block;
    margin-bottom: .3em;	
}