/* line 7, ../../src/sass/styles.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  max-width: 100%;
}

/* line 11, ../../src/sass/styles.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* line 15, ../../src/sass/styles.scss */
body > svg {
  display: none;
}

/* line 18, ../../src/sass/styles.scss */
.shape path {
  fill: blue;
}

/* line 21, ../../src/sass/styles.scss */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  max-height: 1em;
  vertical-align: text-bottom;
}

/* line 29, ../../src/sass/styles.scss */
section {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100%;
  max-height: 100%;
  width: 100vw;
  min-width: 100%;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 45, ../../src/sass/styles.scss */
#scriptures {
  /*
  	* Animation section *
  */
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  z-index: 100;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10000);
  opacity: 100;
}
/* line 47, ../../src/sass/styles.scss */
#scriptures .scripturecontent {
  background-color: white;
  font-size: 2.8vw;
  padding: 2.5vw 5vw;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 7vw;
  -webkit-column-gap: 7vw;
  column-gap: 7vw;
  -moz-column-rule: 0.125em solid black;
  -webkit-column-rule: 0.125em solid black;
  column-rule: 0.125em solid black;
}
/* line 58, ../../src/sass/styles.scss */
#scriptures .scripturecontent .chapterheading {
  -moz-column-span: all;
  -webkit-column-span: all;
  column-span: all;
}
/* line 61, ../../src/sass/styles.scss */
#scriptures .scripturecontent .big {
  font-size: 1.75em;
}
/* line 64, ../../src/sass/styles.scss */
#scriptures .scripturecontent .navheading, #scriptures .scripturecontent .chapterheading {
  text-align: center;
  text-transform: uppercase;
}
/* line 68, ../../src/sass/styles.scss */
#scriptures .scripturecontent ul {
  margin: 0;
  padding: 0;
}
/* line 71, ../../src/sass/styles.scss */
#scriptures .scripturecontent ul li {
  text-align: justify;
  text-indent: 0.5em;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
/* line 85, ../../src/sass/styles.scss */
#scriptures.hidden {
  z-index: -1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 91, ../../src/sass/styles.scss */
#map {
  height: 100%;
  width: 100%;
}
/* line 94, ../../src/sass/styles.scss */
#map .animate-label {
  position: absolute;
  top: 50vh;
  left: 50vw;
  display: block;
  font-size: 2.8vw;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  z-index: -1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 106, ../../src/sass/styles.scss */
ul.versesblock li {
  position: relative;
  display: block;
  margin-bottom: .3em;
}
